# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data","Science","Mentorship","Program",sep='-',end='-started-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
celsius = float(input("Enter a temp in celsius"))
fahrenheit = ((celsius*9)/5)+32
print(fahrenheit)

Enter a temp in celsius12
53.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
num_1 = int(input("Enter a first num : "))
num_2 = int(input("Enter a second num : "))
num_1 , num_2 = num_2 , num_1
print(num_1,num_2)

Enter a first num : 2
Enter a second num : 3
3 2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
p1x = float(input('Enter x coordinate of 1st point : '))
p1y = float(input('Enter y coordinate of 1st point : '))
p2x = float(input('Enter x coordinate of 2nd point : '))
p2y = float(input('Enter y coordinate of 2nd point : '))

dist = ((p2x - p1x)** 2 + (p2y - p1y)** 2)** 0.5

print(dist)

Enter x coordinate of 1st point : 3
Enter y coordinate of 1st point : 2
Enter x coordinate of 2nd point : 1
Enter y coordinate of 2nd point : 3
2.23606797749979

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
P = int(input("Enter a principle amount : "))
R = int(input("Enter a rate of interest: "))
T = int(input("Enter a time period : "))
S_I = (P*R*T)/100
print(S_I)

Enter a principle amount : 100
Enter a rate of interest: 2
Enter a time period : 2
4.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here
n = int(input('Enter a num: '))
# Without using loop
result = n * (n + 1) * (2 * n + 1) / 6
print(result)

Enter a num: 3
14.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here
#Hint an = a+(n-1)
fterm = int(input('Enter first term : '))
sterm = int(input('Enter second term : '))

d = sterm - fterm
an = fterm + (n-1)*d

print(an)

Enter first term : 1
Enter second term : 2
3

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here
n1 = float(input('Enter n1'))
d1 = float(input('Enter d1'))
n2 = float(input('Enter n2'))
d2 = float(input('Enter d2'))

rn = n1 * d2 + n2 * d1
rd = d1 * d2
print('{} / {}'.format(rn,rd))

Enter n13
Enter d14
Enter n24
Enter d25
31.0 / 20.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here
#Dimention of milk tank
H = 20
L = 20
B = 20
#calculate the volume of milk tank means rectangle prism
Vtank = H*L*B
#Dimension of glass
h = 3
r = 1
#calculate the volume of glass
Vglass = 3.14*(r ** 2)*h

NumOfGlass = Vtank/Vglass
print(NumOfGlass)

849.2569002123142